<section class="section testimonials">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{ with .content.title }}
          <h3 class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h3>
        {{ end }}
      </div>
    </div>
    <div class="row">
      {{ range $i, $e := .content.list }}
        <div class="col-12 col-xl-4">
          <div class="card border-0 border-radius-34 p-4">
            {{ with $e.image }}
              {{ partial "utilities/image-fluid.html" $e.image }}
              <div class="card-body">
                <p class="card-text text-center">{{ $e.text }}</p>
              </div>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>
