{{ define "main" }}
  {{ with .Site.Data.home.hero }}{{ partial "sections/hero.html" . }}{{ end }}
  {{ with .Site.Data.home.our_teams }}{{ partial "sections/our_teams.html" . }}{{ end }}
  {{ with .Site.Data.home.core_values }}{{ partial "sections/core_values.html" . }}{{ end }}
  {{ with .Site.Data.home.expertise }}{{ partial "sections/expertise.html" . }}{{ end }}
  {{ with .Site.Data.home.clients }}{{ partial "sections/clients.html" . }}{{ end }}
  {{ with .Site.Data.home.partners }}{{ partial "sections/partners.html" . }}{{ end }}
  {{ with .Site.Data.home.tech_stack }}{{ partial "sections/tech_stack.html" . }}{{ end }}
  {{ with .Site.Data.home.dev_method }}{{ partial "sections/dev_method.html" . }}{{ end }}
  {{ with .Site.Data.home.portfolio }}{{ partial "sections/portfolio.html" . }}{{ end }}
{{ end }}
